.footer{
  background-color: #1E1A1A;
  padding-top: 3.5em;
  margin-top: 4em;
}

.h3{
  font: 500 32px Jost;
  color: #fff;
}

.footer-information{
  display: flex;
  flex-direction: row;
  padding: 0 18%;
}

.footer-information > div{
  width: 100%;
}

.footer_information-contucts > p{
  color: #8D8D8D;
  margin: .6em 0;
}

.contucts-a{
  color: #8D8D8D;
}

.information_foot-wrap_social{
  display: flex;
}

.footer-social{
  width: 40px;
  height: 40px;
  margin-right: .5em;
  margin-top: .5em;
}

.img-marker{
  margin-right: .7em;
}

.contucts_foot-h3{
  margin-top: .8em;
}

.bunner-a{
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}

.footer-bunners{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5em 0 2.5em 0;
  padding: 0 18%;
}

.bunner--cultureRF{
  background-image: url(../img/cultureRF.svg);
  width: 207px;
  height: 24px;
}
.bunner--minCult{
  background-image: url(../img/minCult.svg);
  width: 306px;
  height: 62px;
}
.bunner--gosuslugi{
  background-image: url(../img/gosuslugi.svg);
  width: 142px;
  height: 24px;
}

.footer-undertitle > p{
  font-size: 16px;
  color: #8D8D8D;
  opacity: .6;
}

.footer-undertitle{
  display: flex;
  justify-content: center;
  padding: 2.5em 0;
  border-top: 2px solid rgb(55%, 55%, 55%, .2);
}

.bunner-a:hover{
  opacity: 1;
}