.h1{
    font-size: 48px;
    font-weight: 500;
    font-family: 'Roboto Slab';
}

#slide{
   background-image: url(../img/slider/IMGgoldHohloma.svg);
}

.slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20em 0 3.5em 18.5em;
    position: relative;
}

.slider-arrows{
    position: absolute;
    top: 1em;
    left: calc(50% - 3em);
}

.slide-arrow, .slide-numSlide{
    color: #fff;
}

.slide-arrow{
    font-size: 30px;
    font-weight: 700;
    transition: all .5s;
    cursor: pointer;
}

.slide-arrow:hover{
    color: #F35B5B;
}


.slider-h1{
    color: #fff !important;
}

.slide-btn{
    background-color: #FFD15C;
    font: 600 20px 'Jost';
    letter-spacing: .1em;
    text-transform: uppercase;
    width: max-content;
    padding: .7em 2em;
    margin-top: 2em;
    transition: all .5s;
}

.slide-btn:hover{
    background-color: #F35B5B;
    color: #fff;
}