.h2{
  font: 500 36px 'Roboto Slab';
}

.main-content_card{
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-h2{
  color: #fff;
  line-height: 50px;
}

.content-h2_wrap{
  display: flex;
  justify-content: center;  
  padding: 1.7em 0;
  width: 100%;
  
}

.content-h2_wrap--gold{
  background: linear-gradient(
    to right,
    #F7F7F7 15%,
    #FFD15C 15%
  );
}

.content_card-h2--gold > img:nth-child(1), .content_card-h2--gold > img:last-child{
  margin-bottom: 1em;
}


.content_card-redBerry--big{
  width: 48px;
  margin: 0 1em;
}

.content_card-redBerry--left{
  transform: scaleX(-1);
}

.content-wrap_info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.content_card-img{
  position: relative;
  min-width: 600px;
  max-width: 6000px;
}

.content_card-card_img{
  position: absolute;
  border-radius: 1em;
  bottom: .4em;
  right: 5em;
  transition: all .5s;
}

.content_card-card_img:nth-child(3){
  transform: rotateZ(-15deg);
  bottom: 3.7em;
  right: 3.5em;
}

.content_card-card_img:nth-child(2){
  transform: rotateZ(-30deg);
  bottom: 7.5em;
  right: 3.5em;
}

.content_card-card_img:nth-child(1){
  transform: rotateZ(-75deg);
  bottom: 7em;
  right: 3.5em;
}

.card_hover:nth-child(3){
  transform: rotateZ(-10deg);
}

.card_hover:nth-child(2){
  transform: rotateZ(-20deg);
}

.card_hover:nth-child(1){
  transform: rotateZ(-50deg);
}



.content_card-info_card{
  min-width: 600px;
  max-width: 600px;
}

.content-p--head{
  font-weight: 700;
  font-size: 24px;
}

.info-p--head{
  margin: 2.5rem 0 1rem 0;
}

.content_card-ol > li{
  list-style: decimal;
  margin-bottom: .5em;
}

.content_card-ol{
  margin-bottom: 3em;
  padding-left: 1.3em;
}

.info_card-btn{
  width: auto;
  margin-bottom: 1em;
  display: block;
  text-align: center;
}

.btn-store{
  display: block;
  width: min-content;
}

.btn-store--apple{
  margin-right: 1em;
}

.content_card-wrap_stores{
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}
/*Pushkin card end*/

.content-afisha{
  margin-top: 3.3em;
  margin-bottom: 4em;
}

.afisha-wrap_content{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.afisha-text{
  padding: 1em;
  width: 500px;
}

.content-p--afisha{
  margin-bottom: 1em;
}

.afisha-text-btn{
  width: auto;
  text-align: center;
}

.content-h2_wrap--red{
  background: linear-gradient(
    to left,
    #F7F7F7 15%,
    #F35B5B 15%
  );
}

.content-h2_wrap--red > img{
  margin: 0 2em;
}

.content-h2_wrap--red > img:last-child{
  transform: scale(-1, 1);
}

.afisha-img{
  width: 700px;
  position: relative;
}

.afisha-img > img{
  position: absolute;
  bottom: 1em;
  width: 680px;
  height: 460px;
}

.content-p--text > p:not(:last-child){
  margin-bottom: .5em;
}
/* Afisha end */



.content-news{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.content-h2_wrap--green{
  background: linear-gradient(
    to right,
    #F7F7F7 15%,
    #509A7F 15%
  );
}

.news-short_news{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3em;
  gap: 1em;
  margin-top: 1em;
  width: 1200px;
  margin-bottom: 7em;
}

.short_news-block{
  background: #fff;
  width: 550px;
  height:  480px;
  padding: 1em;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.btn--white{
  background-color: #fff;
  font: 500 20px 'Jost';
  letter-spacing: .1em;
  text-transform: uppercase;
  width: max-content;
  padding: 0.7em 2em;
  margin-top: 2em;
  transition: all .5s;
  display: block;
  border: 3px solid #FFD15C;
}

.btn--white:hover{
  border: 6px solid #F35B5B;
}

.btn-content_news{
  position: absolute;
  bottom: 0em;
}