.h2{
  font: 500 36px 'Roboto Slab';
}

.main-content_card{
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-h2{
  color: #fff;
  line-height: 50px;
}

.content-h2_wrap{
  display: flex;
  justify-content: center;  
  padding: 1.7em 0;
  width: 100%;
  
}

.content-h2_wrap--gold{
  background: linear-gradient(
    to right,
    #F7F7F7 15%,
    #FFD15C 15%
  );
}

.content_card-h2--gold > img:nth-child(1), .content_card-h2--gold > img:last-child{
  margin-bottom: 1em;
}


.content_card-redBerry--big{
  width: 48px;
  margin: 0 1em;
}

.content_card-redBerry--left{
  transform: scaleX(-1);
}
/*Pushkin card start*/
.content-wrap_pushkin{
  display: grid;
  grid-template-areas: "card card info info"
                        "card card btn btn"
                        "card card stores stores";
  margin-bottom: 3em;
}

.content_card-img{
  grid-area: card;
  position: relative;
}

.content_card-card_img{
  position: absolute;
  top: 0;
  border-radius: 10px;
  transition: all .5s;
}

.content_card-card_img:nth-child(1){
  transform: rotate(-75deg);
  top: 5em;
  right: 5em;
}

.content_card-card_img:nth-child(2){
  transform: rotate(-30deg);
  top: 8.7em;
  right: 3em;
}

.content_card-card_img:nth-child(3){
  transform: rotate(-15deg);
  top: 12.7em;
  right: 3em;
}

.content_card-card_img:nth-child(4){
  top: 16em;
  right: 4em;
}

.content_card-info_card{
  grid-area: info;
}

.content_card-img,
.content_card-info_card{
  width: 30vw;
}

.h4{
  font-family: Jost;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.info_card-h4{
  margin-top: 1.6em;
}

.info_card-btn{
  grid-area: btn;
  width: auto;
  text-align: center;
  margin: 0;
}

.content_card-wrap_stores{
  grid-area: stores;
  width: auto;
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}


.content_card-ol > li{
  list-style-type: decimal;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: .8em;
}

.content_card-ol{
  padding: 1.2em;
  margin-bottom: 3.4em;
}

.bth-store{
  position: relative;
}

.btn-store > img{
  width: 100%;
}

.card_hover:nth-child(1){
  transform: rotate(-50deg) !important;
}

.card_hover:nth-child(2){
  transform: rotate(-20deg) !important;
}

.card_hover:nth-child(3){
  transform: rotate(-10deg) !important;
}
/*Pushkin card end*/


/*Afisha start*/
.content-h2_wrap--red {
  background: linear-gradient(
    to left, #F7F7F7 15%,
    #F35B5B 15% );
}

.content-h2_wrap--red > img{
  margin: 0 1em;
}


.afisha-wrap_content{
  display: grid;
  grid-template-areas: "afisha-text afisha-img"
                       "afisha-btn afisha-img";
  padding: 1em 0 4em 0;
  justify-content: center;
  column-gap: 1em;
}

.afisha-content--text{
  grid-area: afisha-text;
}

.afisha-content--text > p{
  margin-bottom: .5em;
}

.afisha-btn{
  grid-area: afisha-btn;
  width: calc(100% - 4em);
  height: fit-content;
  text-align: center;
  align-self: end;
  margin-top: .9em;
}

.afisha-img{
  grid-area: afisha-img;
  position: relative;
}

.afisha-text{
  width: 25vw;
}

.afisha-img{
  width: 35.5vw;
}

.afisha-img > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* Afisha end */


/*News start*/
.content-news{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.content-h2_wrap--green{
  background: linear-gradient(
    to right,
    #F7F7F7 15%,
    #509A7F 15%
  );
}

.news-line_wrap{
  display: none;
}

.news-short_news{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3em;
  gap: 1em;
  margin-top: 1em;
  width: 1200px;
  margin-bottom: 7em;
}

.short_news-block{
  background: #fff;
  width: 550px;
  height:  480px;
  padding: 1em;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.short_news-block > img{
  object-fit: cover;
  width: 540px;
  height: 240px;
  transition: all .5s;

}

.short_news-block:hover > img{
  height: calc(240px - 2em);
}

.btn--white{
  background-color: #fff;
  font: 500 20px 'Jost';
  letter-spacing: .1em;
  text-transform: uppercase;
  width: max-content;
  padding: 0.7em 2em;
  margin-top: 2em;
  transition: all .5s;
  display: block;
  border: 3px solid #FFD15C;
}

.btn--white:hover{
  border: 2px solid #F35B5B;
  box-shadow: 0px 5px inset #F35B5B,
              0px -5px inset #F35B5B,
              5px 0px inset #F35B5B,
              -5px 0px inset #F35B5B;
}

.btn-content_news{
  position: absolute;
  bottom: 0em;
}