img {
    max-width: 950px;
}

h1{
    font-family: Gilroy-Bold;
    font-size: 47.34px;
}

h2{
    font-family: Gilroy-Bold;
    font-size: 34px;
}

p{
    font-family: Gilroy-Bold;
    font-size: 18px;
}

figcaption{
    font-family: Gilroy-Bold;
    font-size: 14px;
    color: #828282;
}

.menu_open{
    display:none;
}

.wrapper{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.header{
    width: 65%;
    margin: 0 auto;
    padding: 0 0 5% 0;
}

.menu_ul{
    margin: 2% 0 3% 0;
    font-family: Gilroy-Bold;
    font-size: 18px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom:1px solid #828282;
    padding-bottom: 3%;
}

.menu_li{
    list-style-type: none;
}

.menu_a{
    text-decoration: none;
    color: #828282;
}

.menu_a:hover{
    color: #070707;
}

.main_in{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.ru_eng{
    font-size: 16px;
    font-family: Gilroy-Bold;
    transform: rotate(0.75turn);
}

.photo{
    display: block;
    height: 100%;
    width: 100%;
    margin-top: -45%;
    margin-bottom: -60%;
    object-fit: cover;
}

.wrap_ph{
    overflow: hidden;
}

.about{
    text-align: center;
    background-color: #F6F6F6;
    padding: 3%;
}

.skills{
    text-align: center;
    padding: 3%;
}

.flex_programms{
    margin: 10% 15% 10% 15%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    justify-content:space-around;
}

.icon{
    width: 90px;
    height: 90px;
}

.portfolio{
    text-align: center;
    padding: 3%;
    background-color: #F6F6F6;
}

.img_wr{
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 15%;
}

.footer{
    text-align: center;
    padding: 10% 35% 10% 35%;
}

.social{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    justify-content:space-around;

}

.soc_ic{
    width: 45px;
    height: 45px;

}

.btn{
    color:white;
    font-family: Gilroy-Bold;
    font-size: 18px;
    background-color: black;
    padding: 2% 7%;
    border-radius: 25px;
}

.btn:hover{
    background-color: rgb(41, 40, 40);
    color: rgb(255, 255, 255);
    border:rgb(41, 40, 40) solid 2px;
}

.header .show_menu{
    display: inline;
    position: absolute;
    border:none;
    font-size: 30px;
    background-color: #F6F6F6;
    width: 85%;
}

.show_menu .menu_li{
    padding: 20px 0 20px 0;
}


@media screen and (max-width: 1000px) {
    h1{
        font-size: 44px;
    }

    h2{
        font-size: 30px;
    }

    figcaption{
        font-size: 14px;
    }

    .img_wr{
        font-size: 16px;
    }
    
    .port_img{
        width: 80%;
    }

    p{
        font-size: 16px;
    }
    .soc_ic{
        width: 80%;
        height: 80%;
    }

    .icon{
        width: 80px;
        height: 80px;
    }

    .btn{
        font-size: 16px;
    }

}

@media screen and (max-width: 600px) {
    figcaption{
        font-size: 12px;
    }

    .icon{
        width: 65px;
        height: 65px;
    }

}

@media screen and (max-width: 525px) {
    .wrapper{
        width: 92%;
    }
    
    h2{
        font-size: 28px;
    }

    .header{
        width: 92%;
        padding: 20px;
    }

    .menu_ul, .ru_eng{
        display: none;
    }

    .menu_open{
        display: inline-block;
        width: 40px;
        height: 20px;
        border: none;
        background: none;
        margin: -60px 0 0 40%;
    }

    .menu_open>img{
        width: 40px;
        height: 20px;
    }

    .main_in{
        flex-wrap: wrap;
    }

    .photo {
        margin-top: -35%;
        object-fit: cover;
        margin-bottom: 0;
    }

    .port_img{
        width: 90%;
    }

    .flex_programms{
        flex-flow: column nowrap;
        align-content: space-between;
    }

    figcaption{
        margin: 3% 0 20% 0;
    }

    .icon{
        width: 90px;
        height: 90px;
    }

    .footer{
        padding: 10% 15%;
    }
}